.place-order .wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  grid-gap: 40px;
}
/* .place-order .left {
  flex: 1;
}
.place-order .right {
  flex: 1;
} */

@media (max-width: 768px) {
  .place-order .wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}
