.dashboard {
  display: flex;
  height: calc(100vh - 50px);
  width: 100%;
}
.dashboard a {
  text-decoration: none;
}
.dashboard .left {
  min-width: 260px;
  padding: 20px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
  position: sticky;
  top: 50px;
  left: 0;
  height: calc(100vh - 50px);
}
.dashboard .left .nav-icon {
  font-size: 22px;
  /* color: #fff; */
  color: #333;
  margin-right: 10px;
}
.dashboard .left .navigator li.active .nav-icon {
  color: #fff;
}
.dashboard .left .navigator {
  border-radius: 0;
  border: none;
}
.dashboard .left .navigator li {
  border: none;
  border-radius: 5px;
  font-size: 17px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.dashboard .right {
  width: 100%;
  padding: 20px;
  position: sticky;
  top: 0px;
  right: 0;
  height: calc(100vh - 50px);
}
.dashboard .active {
  text-decoration: none;
}
.dashboard .active li {
  z-index: 2;
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
}
.dashboard .active li .nav-icon {
  color: #fff;
}

/* responsive */
@media (max-width: 992px) {
  .my-order .wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 768px) {
  .dashboard .left {
    transform: translateX(-100%);
  }
}
