.dashboard {
  display: grid;
  height: calc(100vh - 50px);
  width: 100%;
  grid-template-columns: 2fr 7fr;
}
.dash-nav {
  width: 100%;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
  padding: 0 20px;
  background-color: #fff;
  z-index: 999;
  overflow: hidden;
  position: sticky;
  top: 0;
}
.dash-nav .nav {
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: space-between;
}
.dash-nav .nav img {
  width: 130px;
}
.dashboard a {
  text-decoration: none;
}
.dashboard .left {
  padding: 20px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
  height: calc(100vh - 50px);
  overflow: hidden;
  position: relative;
}
.dashboard .left .log-out {
  position: absolute;
  bottom: 50px;
}
.dashboard .left .nav-icon {
  font-size: 22px;
  /* color: #fff; */
  color: #333;
  margin-right: 10px;
}
.dashboard .left .navigator li.active .nav-icon {
  color: #fff;
}
.dashboard .left .navigator {
  border-radius: 0;
  border: none;
}
.dashboard .left .navigator li {
  border: none;
  border-radius: 5px;
  font-size: 17px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.dashboard .right {
  padding: 20px;
  height: calc(100vh - 50px);
  overflow-x: hidden;
}
.dashboard .active {
  text-decoration: none;
}
.dashboard .active li {
  z-index: 2;
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
}
.dashboard .active li .nav-icon {
  color: #fff;
}

/* responsive */
@media (max-width: 992px) {
  .my-order .wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 768px) {
  .dashboard {
    display: grid;
    height: calc(100vh - 50px);
    width: 100%;
    grid-template-columns: 0 7fr;
  }
}
